body {

    background-image: url("./images/dust_scratches.png");
}

#container {

    background-image: url("./images/tablebackground.jpeg");
    width: 100%;
    height: 500px;
    margin: 0px auto;

}

.main {


font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
padding: 20px;
padding-top: 5px;
padding-bottom: 5px;
color: #777777;
line-height: 1.7;


}


h2 {

    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:  rgb(255, 60, 0);
    border-bottom: 3px solid gainsboro;
    float: right;  

}

.foot {

background-color: #666666;
margin: 0;
text-align: center;
padding: 15px;
font-size: 10px;
border-top: 7px solid rgb(255, 60, 0); 

}

.header {

    margin-top: 10px;
    margin-bottom: -30px;
    margin-left: 10px;
    height: 100px;
    background-color: #ffffff;
}



h4 {
    background-color: rgb(255, 60, 0);
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    float: left;
    padding: 30px;
    margin-bottom: 0;
   
}

.button {

    
    color: rgb(255, 60, 0);
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 10px;
    vertical-align: right;
    font-size: 15px;
    font-weight: bold;
    float: right;
    margin: 10px;

}

@media (max-width: 980px) {

    .main 
    {
  margin-right: 200px;
    }
}


@media (max-width: 768px) {

    div.main {

    
        margin-right: 400px;
       
    }

    .foot {

        float: left;
        width: 530px;
        margin-right: 200px;

    }

    h4 {

        float: left;
        margin-left: 0;
        margin-right: 175px;

    }
}

@media (max-width: 640px) {


    div.main {

        
        margin-right: 500px;
        
    }

    .foot {

        float: left;
        width: 450px;
        margin-right: 500px;

    }

    h4 {

        float: left;
        margin-left: 0;
        margin-right: 175px;

    }

}